ktor {
    deployment {
        port = 8080
    }

    application {
        modules = [ org.openmbee.mms5.ApplicationKt.module ]
    }

    development = true
}

jwt {
    domain = "https://jwt-provider-domain/"
    domain = ${?JWT_DOMAIN}
    audience = "jwt-audience"
    audience = ${?JWT_AUDIENCE}
    realm = "MMS5 Microservices"
    realm = ${?JWT_REALM}
    secret = "test1234"
    secret = ${?JWT_SECRET}
}
