version: 2.1
orbs:
  docker: circleci/docker@2.1.1
  node: circleci/node@5.0.2

jobs:
  generate_schema:
    executor:
      name: node/default
    working_directory: /home/circleci/mms5-layer1-service
    steps:
      - checkout
      - restore_cache:
          name: Restore NPM package Cache
          keys:
            - npm-packages-{{ checksum "deploy/package-lock.json" }}
      - node/install-packages:
          pkg-manager: npm
          app-dir: deploy
      - run:
          name: Generate schema
          command: |
            cd deploy
            npx ts-node src/main.ts http://layer1-service > ../src/test/resources/cluster.trig
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - mms5-layer1-service/*
  build_and_test:
    machine:
      image: ubuntu-2204:2022.04.1
    working_directory: /home/circleci/mms5-layer1-service
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Cat out cluster.trig
          command: |
            cat src/test/resources/cluster.trig
      - run:
          name: Build stack and run tests
          shell: /bin/bash
          command: |
            docker-compose -f src/test/resources/docker-compose.yml up -d
            docker build --network=mms5-test-network -t mms5-test:latest -f Dockerfile-Test .
            docker run --network=mms5-test-network --name mms5-test-container mms5-test:latest
            SIG_INT=$?
            docker cp mms5-test-container:/application/build/reports/tests /home/circleci/results
            exit "$SIG_INT"
      - store_artifacts:
          path: /home/circleci/results
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - mms5-layer1-service/*

  deploy_snapshot:
    executor:
      name: docker/docker
    working_directory: /home/circleci/mms5-layer1-service
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ~/
      - run:
          name: Login to Dockerhub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Build docker image
          command: |
            cp src/main/resources/application.conf.example ./src/main/resources/application.conf
            docker build -t openmbee/mms5-layer1-service:latest .
      - run:
          name: Tag docker image
          command: docker tag openmbee/mms5-layer1-service:latest openmbee/mms5-layer1-service:${CIRCLE_BRANCH#*/}-SNAPSHOT
      - run:
          name: Deploy snapshot to Dockerhub
          command: docker push openmbee/mms5-layer1-service:${CIRCLE_BRANCH#*/}-SNAPSHOT
  deploy_nightly:
    executor:
      name: docker/docker
    working_directory: /home/circleci/mms5-layer1-service
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ~/
      - checkout
      - run:
          name: Login to Dockerhub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Build docker image
          command: |
            cp src/main/resources/application.conf.example ./src/main/resources/application.conf
            docker build -t openmbee/mms5-layer1-service:latest .
      - run:
          name: Tag docker image
          command: docker tag openmbee/mms5-layer1-service:latest openmbee/mms5-layer1-service:NIGHTLY-SNAPSHOT
      - run:
          name: Deploy snapshot to Dockerhub
          command: docker push openmbee/mms5-layer1-service:NIGHTLY-SNAPSHOT
  deploy_release:
    executor:
      name: docker/docker
    working_directory: /home/circleci/mms5-layer1-service
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ~/
      - run:
          name: Login to Dockerhub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Build docker image
          command: |
            cp src/main/resources/application.conf.example ./src/main/resources/application.conf
            docker build -t openmbee/mms5-layer1-service:latest .
      - run:
          name: Tag docker image
          command: docker tag openmbee/mms5-layer1-service:latest openmbee/mms5-layer1-service:${CIRCLE_TAG}
      - run:
          name: Deploy release to dockerhub
          command: docker push openmbee/mms5-layer1-service:${CIRCLE_TAG}
      - run:
          name: Deploy release as latest to dockerhub
          command: docker push openmbee/mms5-layer1-service:latest

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - generate_schema:
          context:
            - DockerHub
      - build_and_test:
          requires:
            - generate_schema
          filters:
            tags:
              only: /[0-9.]+(-(a|b|rc)[0-9]+)?/
            branches:
              ignore: /(^wip\/.*)/
          context:
            - DockerHub
      - deploy_snapshot:
          requires:
            - build_and_test
          filters:
            branches:
              only: develop
          context:
            - DockerHub
      - deploy_nightly:
          filters:
            branches:
              only: /(^wip\/.*)/
          context:
            - DockerHub
      - deploy_release:
          requires:
            - build_and_test
          filters:
            tags:
              only: /[0-9.]+(-(a|b|rc)[0-9]+)?/
            branches:
              ignore: /.*/
          context:
            - DockerHub